<div class="actions">
  <div class="add-btn">
    <button mat-raised-button color="primary" (click)="openDialog()">
      <mat-icon>add_outline</mat-icon>
    </button>
  </div>
</div>
<div class="center">
  <mat-chip-list aria-label="Wards">
    <mat-chip
      *ngFor="let ward of service.list"
      color="accent"
      selected
      [removable]="true"
      (removed)="openDialogDelete(ward)"
    >
      <span routerLink="/hospitalizations/{{ ward.wardId }}">
        {{ ward.name }}
      </span>
      <mat-icon class="delete-icon" (click)="openDialogEdit(ward)"
        >edit</mat-icon
      ><mat-icon class="delete-icon" matChipRemove
        >cancel</mat-icon
      >
    </mat-chip>
  </mat-chip-list>
</div>
