mat-chip {
  padding: 1.5rem 1.5rem !important;
  font-size: 1.5rem;
  border-radius: 2rem !important;
  margin: 0.7rem !important;
}

mat-chip:hover {
  cursor: pointer;
}

.mat-chip-list {
  margin-inline: 2%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100% - 64px - 6.5rem);
}

@media (max-width: 599px) {
  .center {
    min-height: calc(100% - 56px - 3rem);
  }
}

.add-btn {
  margin-left: 2rem;
  margin-top: 0.5rem;
  height: 2rem;
}

.delete-icon{
  font-size: 1.5rem !important;
  display: flex;
  align-items: center;
  opacity: 0.4;
  margin: 0 !important;
}

.actions{
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

mat-form-field{
  margin-left: 2rem;
}
