mat-icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
.question {
  margin: 1rem;
  font-size: 1rem;
}
.x-icon {
  display: flex;
  justify-content: flex-end;
}
.button-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}
