.demo-table {
  width: 100%;
}

.mat-column-demo-Actions {
  padding-left: 10px;
  padding-right: 10px !important;
  font-size: 15px;
  border-left: 0.5px solid #222;
  width: 5rem;
  text-align: center;
}

.wrapper {
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.table {
  height: 76vh;
  overflow: auto;
}

mat-icon:hover {
  cursor: pointer;
}

.mat-row:nth-child(even) {
  background-color: #ddd;
}

.mat-row:nth-child(odd) {
  background-color: #fff;
}

#no-data {
  font-size: 1rem;
  padding-left: 5.3rem;
}

.mat-table {
  overflow-x: scroll;
}

.mat-header-row {
  background-color: #888;
}

.mat-header-cell {
  color: #fff;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}
th.mat-header-cell,
td.mat-cell {
  padding-left: 0.5rem;
}

.add-btn {
  margin-bottom: 0.5rem;
}

.add-btn button {
  margin-right: 1rem;
}

.title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.about-pacient:hover {
  cursor: pointer;
}
