<div class="wrapper">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <ng-container matColumnDef="demo-PacientId">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.PacientId }}</td>
    </ng-container>

    <ng-container matColumnDef="demo-Name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
    </ng-container>

    <ng-container matColumnDef="demo-Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element"><mat-icon color="accent" routerLink="/platform/pacient/{{ element.PacientId }}">info_outline</mat-icon></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
