<div class="wrapper">
  <mat-form-field color="accent">
    <input
      matInput
      autocomplete="off"
      (keyup)="applyFilter($event)"
      placeholder="Filter"
    />
  </mat-form-field>
  <div class="add-btn">
    <button mat-raised-button color="primary" (click)="add()">
      <mat-icon>add_outline</mat-icon>
    </button>
  </div>
  <div class="table">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 demo-table"
    >
      <ng-container matColumnDef="demo-PacientId">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.patientId }}</td>
      </ng-container>

      <ng-container matColumnDef="demo-LastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
      </ng-container>

      <ng-container matColumnDef="demo-FirstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
      </ng-container>

      <ng-container matColumnDef="demo-Actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="action-buttons"><mat-icon color="accent" routerLink="/pacient/{{ element.patientId }}"
            >info_outline</mat-icon
          >
          <mat-icon color="error" (click)="delete(element.patientId)">delete_outline</mat-icon></div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" id="no-data" colspan="4">No data</td>
      </tr>
    </table>
  </div>
</div>
