<mat-toolbar color="primary">
  <button mat-icon-button routerLink="/">
    <mat-icon>home</mat-icon>
  </button>
  <span>Medical App</span>
  <span class="example-spacer"></span
  ><button mat-icon-button routerLink="/wards">
    <mat-icon>local_hospital</mat-icon>
  </button><button mat-icon-button routerLink="/all-pacients">
    <mat-icon>people_outline</mat-icon>
  </button>
  <button mat-icon-button routerLink="/users">
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <!-- <button mat-icon-button routerLink="/help">
    <mat-icon>help_outline</mat-icon>
  </button> -->
  <button mat-icon-button (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
