<div>
  <div class="x-icon">
    <mat-icon color="error" (click)="close()">close</mat-icon>
  </div>
  <form [formGroup]="evolutionForm">
    <mat-form-field class="full-width-input" color="accent">
      <input matInput placeholder="Evolution" formControlName="description" required />
      <mat-error
        *ngIf="evolutionForm.controls.description.hasError('required')"
      >
        You must enter a value!
      </mat-error> </mat-form-field
    ><mat-form-field class="full-width-input" color="accent">
      <input
        matInput
        type="date"
        placeholder="Date"
        formControlName="date"
        required
        [max]="this.today"
      />
      <mat-error *ngIf="evolutionForm.controls.date.hasError('required')">
        You must enter a value!
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!evolutionForm.dirty || !evolutionForm.valid"
      type="submit"
      (click)="save()"
    >
      Save
    </button>
  </form>
</div>
