p {
  margin: 0.25rem;
}
h3 {
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
}
.edit-btn {
  float: right;
}

hr {
  margin: 0.2rem;
  width: calc(100% - 0.4rem);
}
