<p class="title">{{this.patient.lastName}} {{this.patient.firstName}}, {{this.age}} ani</p>
<div class="wrapper">
  <div class="container upper-container" (click)="openDialog()">
    <p class="container-title">Temperatura</p>
    tirykr
  </div>
  <div class="container upper-container" (click)="openDialog()">
    <p class="container-title">Puls</p>
    fbdghf
  </div>
  <div class="container upper-container" (click)="openDialog()">
    <p class="container-title">Respiratie</p>
    fdghd
  </div>

  <div class="container upper-container" (click)="openDialog()">
    <p class="container-title">Tensiune arteriala</p>
    fdghd
  </div>
</div>

<div class="wrapper">
    <div class="container lower-container" (click)="openDialog()">
      <p class="container-title">Plan de tratament</p>
      tirykr
    </div>
    <div class="container lower-container" (click)="openDialog()">
      <p class="container-title">Evolutie</p>
      fbdghf
    </div>
  </div>
  
