<div class="big-wrapper">
  <app-details-hospitalization
    class="details"
    [hospitalization]="hospitalization"
    [patient]="patient"
  ></app-details-hospitalization>
  <div class="right-container">
    <p class="title">
      {{ this.patient.lastName }} {{ this.patient.firstName }},
      {{ this.age }} years
    </p>
    <div class="wrapper">
      <div class="container upper-container">
        <p class="container-title" (click)="openDialogAllTemp()">Temperature</p>
        <div class="add-btn" *ngIf="this.details.temperature !== -1">
          <button mat-icon-button color="primary" (click)="openDialogTemp()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          (click)="openDialogAllTemp()"
          *ngIf="this.details.temperature !== -1"
        >
          {{ this.details.temperature }}&#x2103;
        </div>
        <div class="simple-content" *ngIf="this.details.temperature === -1">
          <button mat-icon-button color="primary" (click)="openDialogTemp()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="container upper-container">
        <p class="container-title" (click)="openDialogAllPulses()">Pulse</p>
        <div class="add-btn" *ngIf="this.details.pulse !== -1">
          <button mat-icon-button color="primary" (click)="openDialogPulse()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          (click)="openDialogAllPulses()"
          *ngIf="this.details.pulse !== -1"
        >
          {{ this.details.pulse }}
        </div>
        <div class="simple-content" *ngIf="this.details.pulse === -1">
          <button mat-icon-button color="primary" (click)="openDialogPulse()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="container upper-container">
        <p class="container-title" (click)="openDialogAllBreaths()">Breaths</p>
        <div class="add-btn" *ngIf="this.details.breathNr !== -1">
          <button mat-icon-button color="primary" (click)="openDialogBreath()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          (click)="openDialogAllBreaths()"
          *ngIf="this.details.breathNr !== -1"
        >
          {{ this.details.breathNr }}
        </div>
        <div class="simple-content" *ngIf="this.details.breathNr === -1">
          <button mat-icon-button color="primary" (click)="openDialogBreath()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="container upper-container">
        <p class="container-title" (click)="openDialogAllTas()">
          Blood pressure
        </p>
        <div class="add-btn" *ngIf="this.details.minTA !== -1">
          <button mat-icon-button color="primary" (click)="openDialogTA()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          (click)="openDialogAllTas()"
          *ngIf="this.details.minTA !== -1"
        >
          {{ this.details.maxTA }}/{{ this.details.minTA }}
        </div>
        <div class="simple-content" *ngIf="this.details.minTA === -1">
          <button mat-icon-button color="primary" (click)="openDialogTA()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="container upper-container">
        <p class="container-title" (click)="openDialogAllOthers()">Others</p>
        <div class="add-btn" *ngIf="this.details.diuresisDescription">
          <button mat-icon-button color="primary" (click)="openDialogOthers()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content content-others"
          (click)="openDialogAllOthers()"
          *ngIf="this.details.diuresisDescription"
        >
          <p>Vomiting: {{ this.details.vomitingDescription }}</p>
          <p>Diuresis: {{ this.details.diuresisDescription }}</p>
          <p>Discharge: {{ this.details.dischargeDescription }}</p>
        </div>
        <div class="simple-content" *ngIf="!this.details.diuresisDescription">
          <button mat-icon-button color="primary" (click)="openDialogOthers()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="wrapper medication">
      <div class="container lower-container">
        <p class="container-title">Medication plan</p>
        <div class="add-btn" *ngIf="this.drugs.length > 0">
          <button mat-icon-button color="primary" (click)="openDialogDrug()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          *ngIf="this.drugs.length > 0"
        >
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="frequency">
              <th mat-header-cell *matHeaderCellDef>Frequency</th>
              <td mat-cell *matCellDef="let element">
                {{ element.frequency }}
              </td>
            </ng-container>
            <ng-container matColumnDef="administerWay">
              <th mat-header-cell *matHeaderCellDef>Aministering</th>
              <td mat-cell *matCellDef="let element">
                {{ element.administerWay }}
              </td>
            </ng-container> <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <mat-icon color="error" (click)="openDialogDelete(element)"
              >delete_outline</mat-icon
            >
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          
        </div>
        <div class="simple-content" *ngIf="this.drugs.length === 0">
          <button mat-icon-button color="primary" (click)="openDialogDrug()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <div class="container lower-container">
        <p class="container-title" (click)="openDialogAllEvolutions()">
          Evolution
        </p>
        <div class="add-btn" *ngIf="this.details.evolutionDescription">
          <button
            mat-icon-button
            color="primary"
            (click)="openDialogEvolution()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div
          class="content"
          (click)="openDialogAllEvolutions()"
          *ngIf="this.details.evolutionDescription"
        >
          {{ this.details.evolutionDescription }}
        </div>
        <div class="simple-content" *ngIf="!this.details.evolutionDescription">
          <button
            mat-icon-button
            color="primary"
            (click)="openDialogEvolution()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
