<div>
  <div class="x-icon">
    <mat-icon color="error" (click)="close()">close</mat-icon>
  </div>
  <form [formGroup]="patientForm">
    <mat-form-field class="full-width-input" color="accent">
      <input
        matInput
        placeholder="First name"
        formControlName="firstName"
        required
      />
      <mat-error *ngIf="patientForm.controls.firstName.hasError('required')">
        You must enter a value!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input" color="accent">
      <input
        matInput
        placeholder="Last name"
        formControlName="lastName"
        required
      /><mat-error *ngIf="patientForm.controls.lastName.hasError('required')">
        You must enter a value!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input" color="accent">
      <input
        matInput
        type="number"
        placeholder="CNP"
        formControlName="cnp"
        required
      /><mat-error *ngIf="patientForm.controls.cnp.hasError('required')">
        You must enter a value! </mat-error
      ><mat-error
        *ngIf="
          patientForm.controls.cnp.errors?.max ||
          patientForm.controls.cnp.errors?.min
        "
      >
        The CNP must have 13 characters!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width-input" color="accent">
      <input
        matInput
        type="date"
        placeholder="Date of Birth"
        formControlName="dob"
        required
      /><mat-error *ngIf="patientForm.controls.dob.hasError('required')">
        You must enter a value!
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      [disabled]="!patientForm.dirty || !patientForm.valid"
      type="submit"
      (click)="save()"
    >
      Save
    </button>
  </form>
</div>
