$green-palette: (
    50 : #eff3f1,
    100 : #d6e1dd,
    200 : #bbcdc7,
    300 : #9fb8b0,
    400 : #8ba99f,
    500 : #769a8e,
    600 : #6e9286,
    700 : #63887b,
    800 : #597e71,
    900 : #466c5f,
    A100 : #c9ffec,
    A200 : #96ffd9,
    A400 : #63ffc7,
    A700 : #4affbe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$brown-palette: (
    50 : #eae6e4,
    100 : #cac1ba,
    200 : #a7988d,
    300 : #846e5f,
    400 : #694f3c,
    500 : #4f301a,
    600 : #482b17,
    700 : #3f2413,
    800 : #361e0f,
    900 : #261308,
    A100 : #ff9463,
    A200 : #ff7230,
    A400 : #fc5000,
    A700 : #e24800,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$light-green-palette: (
    50 : #f6f8f7,
    100 : #e9eeeb,
    200 : #dbe3de,
    300 : #ccd8d1,
    400 : #c1cfc7,
    500 : #b6c7bd,
    600 : #afc1b7,
    700 : #a6baae,
    800 : #9eb3a6,
    900 : #8ea698,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #d8ffe8,
    A700 : #beffda,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);